# operators
Arithmetic Operators

comparison(relational)operators

Assigment operators

Logical operators

Bitwise operators

Membership Operators

Identity Operators

# Ultimate Markdown guide for jupyter notebook

https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd

In [1]:
import pandas as pd
import numpy as np

#### arithmetic operators
used to perform basic arithmetic operations

In [2]:
#arithmetic operators
x=2
y=3
x+y #addition
y-x #substraction
x*y #multiplication
x**y #exponentiation-exponent
x/y #division-results into a float
x%y #modulus-remainder of division
x//y #floor division-results into a hwole number

0

### comparison operators
Gives boolean results(true or false)

Examples 

(>)greater than

< less than

== equal to

!= not equal to

(>=) greater than or equal to

<= less than or equal to

### logical operators

used to combine conditional statements. 

gives boolean results( true or false)

##### uses 

'and'-returns true if both statements are true 

 'Or'- retruns true if ne of the staments is true
 
 'Not'-reverse the result, returns false if the result is true

In [3]:
x=6
x<5 and x<10

False

In [4]:
x<10 or x<4

True

In [5]:
not(x<5 and x<10)

True

### Variables
a Variable is a storage container. it has a name and is assigned a value using the equal sign(=)

it a good way to store information for future retrieval

## indexing and selecting data with pandas
[use of indexers to index and select data](https://www.geeksforgeeks.org/indexing-and-selecting-data-with-pandas/#:~:text=Indexing%20in%20Pandas%20%3A,be%20known%20as%20Subset%20Selection.)

- df.loc[]
- df.iloc[]
- df.ix[]

# python programming foundations at udacity

In [6]:
salesman = 'I think you\'re an encyclopedia salesman'
print(salesman)

I think you're an encyclopedia salesman

In [7]:
first_word = 'hello'
print(len(first_word))

5

In [8]:
first_word[0]

'h'

In [9]:
first_word[4]

'o'

In [10]:
coconut_count = "34"
mango_count = "15"
tropical_fruit_count = coconut_count + mango_count
print(tropical_fruit_count)

3415

In [11]:
username = "Kinari"
timestamp = "04:50"
url = "http://petshop.com/pets/mammals/cats"
message =(username +"accessed the site" + url + "at" + timestamp + ".")
print(message)

Kinariaccessed the sitehttp://petshop.com/pets/mammals/catsat04:50.

### len()
len only works on a "sequence (such as a string, bytes, tuple, list, or range) or a collection (such as a dictionary, set, or frozen set)," as per the

In [12]:
my_string.

SyntaxError: invalid syntax (327528675.py, line 1)

# string method: split()

In [ ]:
#split string method
#separator is space and maxiplit is argument is set to 3
new_str = "The cow jumped over the moon."
new_str.split(' ', 3)

In [ ]:
#using default split
new_str.split()

In [ ]:
#using '.' or period as a separator
new_str.split('.')

# string method coding practice
we have string methods such as .forma(), .find(), .count(), len() and many more

In [ ]:
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don’t deal in lies,\nOr being hated, don’t give way to hating,\n  And yet don’t look too good, nor talk too wise:"

 Use the code editor below to answer the following questions about verse and use Test Run to check your output in the quiz at the bottom of this page.

1. What is the length of the string variable verse?
2. What is the index of the first occurrence of the word 'and' in verse?
3. What is the index of the last occurrence of the word 'you' in verse?
4. What is the count of occurrences of the word 'you' in the verse?
You will need to refer to Python's string methods documentation https://docs.python.org/2/library/string.html.

# first version of the answer

In [ ]:
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don’t deal in lies,\nOr being hated, don’t give way to hating,\n  And yet don’t look too good, nor talk too wise:"
verse_length = len(verse)
substring = 'and'
index = verse.find(substring)
substring_two = 'you'
index_two = verse.rfind(substring_two)
count = verse.count(substring_two)
print(verse, '\n')
print(verse_length)
print(index)
print(index_two)
print(count)

# Use the appropriate functions and methods to answer the questions above
# Bonus: practice using .format() to output your answers in descriptive messages!

# version two

In [ ]:
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don’t deal in lies,\nOr being hated, don’t give way to hating,\n  And yet don’t look too good, nor talk too wise:"
print(verse, "\n")

print("Verse has a length of {} characters.".format(len(verse)))
print("The first occurence of the word 'and' occurs at the {}th index.".format(verse.find('and')))
print("The last occurence of the word 'you' occurs at the {}th index.".format(verse.rfind('you')))
print("The word 'you' occurs {} times in the verse.".format(verse.count('you')))

# version 3

In [ ]:
verse = "If you can keep your head when all about you\n  Are losing theirs and blaming it on you,\nIf you can trust yourself when all men doubt you,\n  But make allowance for their doubting too;\nIf you can wait and not be tired by waiting,\n  Or being lied about, don’t deal in lies,\nOr being hated, don’t give way to hating,\n  And yet don’t look too good, nor talk too wise:"
print(verse, "\n")

message = "Verse has a length of {} characters.\nThe first occurence of the \
word 'and' occurs at the {}th index.\nThe last occurence of the word 'you' \
occurs at the {}th index.\nThe word 'you' occurs {} times in the verse."

length = len(verse)
first_idx = verse.find('and')
last_idx = verse.rfind('you')
count = verse.count('you')

print(message.format(length, first_idx, last_idx, count))

# Control Flow

## if elif else

## for loops

- Python has two kinds of loops - for loops and while loops. A for loop is used to "iterate", or do something repeatedly, over an iterable.

- An iterable is an object that can return one of its elements at a time. This can include sequence types, such as strings, lists, and tuples, as well as non-sequence types, such as dictionaries and files.

In [ ]:
#example of a for loop
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities: #City is the iteration variable and cities is the the iterable being looped over
    print(city)
print("Done!")

### naming iteration variables
- You can name iteration variables however you like. A common pattern is to give the iteration variable and iterable the same names, except the singular and plural versions respectively (e.g., 'city' and 'cities').

### using  `range()` Function with `for` Loops

`range()` is a built in function used to create an iterable sequence of numbers. 
- youwill frequently use `range()` with a for loop to repeat an action a certain number of times.
- Any varibale can be used to iterate through the numbers but python programmers conventionally use`i` . check example below

    ```
    for i in range(3):
        print("Hello!")
     ```
     [pynative.com](https://pynative.com/python-range-function/#h-range-stop)-link to range functions

### Range()

#### `range(stop)` `range(start,stop)`
`range(stop)`- When you pass only one argument to `range()`, it will generate a sequence of integers starting from 0 to `stop -1`

In [ ]:
#
for i in range(3):
    print("Hello!")

In [ ]:
#print first 10 numbers
#stop=10
for i in range(10):
    print(i, end=' ') #end=' ' arranges the output in a line format

- here the `start=0` and `step=1` by default
- if you want to start the range at 1, use `range(1,10)`-it will generate integers from `start` number to `stop=-1`
- If you set the stop as a 0 or some negative value, then the range will return an empty sequence.

`range(start,stop,step)`
- When you pass all three arguments to the range(), it will return a sequence of numbers, starting from the start number, increments by step number, and stops before a stop number.
- note: range() only works with integers

In [ ]:
# Creating a new list
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
capitalized_cities = []

for city in cities:
    capitalized_cities.append(city.title())
    print(cities)

#### modifying a list
- Modifying a list is a bit more involved, and requires the use of the range() function.

We can use the range() function to generate the indices for each value in the cities list. This lets us access the elements of the list with cities[index] so that we can modify the values in the cities list in place.

In [ ]:
#modifying a list using range(). Range is used to generate the indices
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']

for index in range(len(cities)):
    cities[index] = cities[index].title()
    print(cities)

## Quiz: Create Usernames
- Write a `for` loop that iterates over the `names` list to create a `usernames` list. To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should print out the usernames list:

["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

HINT: Use the .replace() method to replace the spaces with underscores. Check out how to use this method in this [Stack Overflow answer](https://stackoverflow.com/a/12723785).

In [ ]:
#create usernames in lowercase and replaces spaces with underscores as the separator
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

# write your for loop here
for name in names:
    usernames.append(name.lower().replace(" ", "_"))
    
    
    
print(usernames)

In [ ]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

for name in names:
    name = name.lower().replace(" ", "_")

print(names)

In [ ]:
#count the number of xml tags in tokens
tokens = ['<greeting>', 'Hello World!', '</greeting>']

count = 0
for token in tokens:
    if token[0] == '<' and token[-1] == '>':
        count += 1

print(count)

## Does the above code print out the same names?
Yes, the printed output for the names list will look exactly like it did in the first line. During each iteration, the name variable is set to a string taken from the list. Then the assignment statement creates a new string (name.lower().replace(" ", "_")) and changes the name variable to that string. It doesn't modify the contents of the names list at all. To modify the list you must operate on the list itself, using range, as you saw earlier.

In [ ]:
#write a for loop that uses range() to iterate over the positions in usernames
#change each name to lowercase and replace spaces with underscores
usernames = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

# write your for loop here
for index in range(len(usernames)):
    usernames[index]=usernames[index].lower().replace(" ","_")

print(usernames)

In [ ]:
#create an HTML list using for loop
items = ['first string', 'second string']
html_str = "<ul>\n"          # The "\n" here is the end-of-line char, causing
                             # chars after this in html_str to be on next line

for item in items:
    html_str += "<li>{}</li>\n".format(item)
html_str += "</ul>"

print(html_str)

In [ ]:
len([0,1,2]*50)

## While loops
- `for` loops: example of definite iterations(loop runs a predefined number of times)
- `while` loop: example of indefinite iterations(loops runs unkown number of times and ends when a cndition is met)

### example 1

In [ ]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]
hand = []

# adds the last element of the card_deck list to the hand list
# until the values in hand add up to 17 or more
while sum(hand) <=17:
    hand.append(card_deck.pop())

 This example features two new functions. `sum` returns the sum of the elements in a list, and `pop` is a list method that removes the last element from a list and returns it.

### Components of a While Loop
- The first line starts with the while keyword, indicating this is a while loop.
- Following that is a condition to be checked. In this example, that's sum(hand) <= 17.
- The while loop heading always ends with a colon :.
- Indented after this heading is the body of the while loop. If the condition for the while loop is true, the code lines in the loop's body will be executed.
- We then go back to the while heading line, and the condition is evaluated again. This process of checking the condition and then executing the loop repeats until the condition becomes false.
- When the condition becomes false, we move on to the line following the body of the loop, which will be unindented.

### example 2 : Factorials with While Loops

In [ ]:
# number to find the factorial of
number = 6   

# start with our product equal to one
product = 1

# track the current number being multiplied
current = 1

# write your while loop here
while number >= current:  #or while current<=number
    product = product*current # multiply the product so far by the current number
    current +=1  # increment current with each iteration until it reaches number
print(product)

### example 2 : Factorials with for Loops

In [ ]:
#number to find the factorial of
number = 6

#start with our product equal to one
product = 1

for i in range(number):
    product = product*(i +1)

print(product)

In [ ]:
#another way of using for loop for factorial 6

# number we'll find the factorial of
number = 6
# start with our product equal to one
product = 1

# calculate factorial of number with a for loop
for num in range(2, number + 1):
    product *= num

# print the factorial of number
print(product)

## Break, Continue

 # Pandas

- powerful pythondata analysis toolkit

####  pandass Series
- pandas series is a one-dimensional array-like object that can hold many data types, such as numbers or strings, and has an option to provide axis labels.

##### Differences between NumPy ndarrays and Pandas Series
    - One of the main differences between pandas Series and NumPy ndarrays is that you can assign an index label to each element in the pandas Series. In other words, you can name the indices of your pandas Series anything you want.
    - Another big difference between pandas Series and NumPy ndarrays is that pandas Series can hold data of different data types.

In [ ]:
# let's use a pandas Series to store a grocery list

#import pandas library
import pandas as pd

#create a pandas Series that storesa grocery list
groceries = pd.Series(data=[30,6,'yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

#display the grocerries pandas Series
groceries

 We see indices are displayed in the first column, data is displayed in the second column. data is not indexed 0-3 but rather indexed with names of food put in. data in the series has both integers and strings

###### Pandas series attributes
- pandas Series have attributes that allow us to get information from the series in an easy way [pandas series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

- some of the `attributes`
    
    ndim- Number of dimensions of the underlying data, by definition 1.

    shape- Return a tuple of the shape of the underlying data.

    size- Return the number of elements in the underlying data.
    index- The index (axis labels) of the Series.
    values- Return Series as ndarray or ndarray-like depending on the dtype.

In [ ]:
#example of pandas series attributes- print information of groceries
print('groceries has shape:', groceries.shape)
print('groceries has dimension:', groceries.ndim)
print('groceries has a total of', groceries.size, 'elements')

#print index and data of groceries
print('The data in groceries is :', groceries.values)
print('The data in groceries is :', groceries.index)

##### Check if an index is available in the given Series

In [ ]:
#check by using the `in` command
# We check whether bananas is a food item (an index) in Groceries
x = 'bananas' in groceries

# We check whether bread is a food item (an index) in Groceries
y = 'bread' in groceries

# We print the results
print('Is bananas an index label in Groceries:', x)
print('Is bread an index label in Groceries:', y)

#observe: returns a bool value

### Accessing and Deleting Elements in Pandas Series

- elements can be accessed using index labels or numerical indices inside 
square brackets [], and therefore we can use both positive ad negative integers 
to access data from beginning or end or seris.
- due to many ways of accessing data, to remove ambiguity, pandas Series has two attributes, 
    - `.loc` which stands for location can be used to access index labels
    - `.iloc` which stands for integer location can be used to access numerical indices

##### access elements using index labels

In [ ]:
# We access elements in Groceries using index labels:

# We use a single index label
print('How many eggs do we need to buy:', groceries['eggs'])
print()

# we can access multiple index labels
print('Do we need milk and bread:\n', groceries[['milk', 'bread']]) 
print()

# we use loc to access multiple index labels
print('How many eggs and apples do we need to buy:\n', groceries.loc[['eggs', 'apples']]) 
print()

# We access elements in Groceries using numerical indices:

# we use multiple numerical indices
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]]) 
print()

# We use a negative numerical index
print('Do we need bread:\n', groceries[[-1]]) 
print()

# We use a single numerical index
print('How many eggs do we need to buy:', groceries[0]) 
print()
# we use iloc to access multiple numerical indices
print('Do we need milk and bread:\n', groceries.iloc[[2, 3]])

Pandas Series are mutable like Numpy ndarrays

##### mutate elements using index labels

In [ ]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We change the number of eggs to 2
groceries['eggs'] = 8

# We display the changed grocery list
print() #creates a new line
print('Modified Grocery List:\n', groceries)

##### delete elements out of place and in-place

In [ ]:
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We remove apples from our grocery list. The drop function removes elements out of place
print()
print('We remove apples (out of place):\n', groceries.drop('apples'))

# When we remove elements out of place the original Series remains intact. To see this
# we display our grocery list again
print()
print('Grocery List after removing apples out of place:\n', groceries)

print()
# We display the original grocery list
print('Original Grocery List:\n', groceries)

# We remove apples from our grocery list in place by setting the inplace keyword to True
groceries.drop('apples', inplace = True)

# When we remove elements in place the original Series its modified. To see this
# we display our grocery list again
print()
print('Grocery List after removing apples in place:\n', groceries)

 - The above code is supposed to print out deleted items both out of place and in place. The code worked but by running it again it brought an error which is understable since it already delete the apples by using in place. only returns available items in the list

#### Arithmetic Operation on Pandas Series

In [ ]:
fruits = pd.Series([30, 6, 3], ['apples', 'oranges', 'bananas'])
fruits

In [ ]:
# we can use basic math operators on fruits
fruits + 2

In [ ]:
fruits - 2

In [ ]:
fruits / 2

In [ ]:
fruits * 2

In [ ]:
#apply mathematical functions from numpy
import numpy as np
fruits

In [ ]:
np.sqrt(fruits)

In [ ]:
np.exp(fruits)

In [ ]:
np.power(fruits, 2) # we raise elements to the power of 2

In [ ]:
#apply arithmetic operation to selected elements
fruits['bananas'] + 2

In [ ]:
#subract 2 from apples using its numeric index
fruits.iloc[0] - 2

In [ ]:
#double both apples and oranges
fruits[['apples', 'oranges']] * 2

In [ ]:
#divide oranges and apples 
fruits.loc[['apples', 'oranges']] / 2

In [ ]:
#multiply grocery list by 2: contains both strings and integers
groceries*2

### manipulate series quiz

In [ ]:
import pandas as pd

# DO NOT CHANGE THE VARIABLE NAMES

# Given a list representing a few planets
planets = ['Earth', 'Saturn', 'Venus', 'Mars', 'Jupiter']

# Given another list representing the distance of each of these planets from the Sun
# The distance from the Sun is in units of 10^6 km
distance_from_sun = [149.6, 1433.5, 108.2, 227.9, 778.6]


# TO DO: Create a Pandas Series "dist_planets" using the lists above, representing the distance of the planet from the Sun.
# Use the `distance_from_sun` as your data, and `planets` as your index.
dist_planets =pd.Series(data = distance_from_sun, index = planets)
print (dist_planets)

In [ ]:
# TO DO: Calculate the time (minutes) it takes light from the Sun to reach each planet. 
# You can do this by dividing each planet's distance from the Sun by the speed of light.
# Use the speed of light, c = 18, since light travels 18 x 10^6 km/minute.
time_light = dist_planets / 18
time_light

In [ ]:
# TO DO: Use Boolean indexing to select only those planets for which sunlight takes less
# than 40 minutes to reach them.
# We'll check your work by printing out these close planets.
close_planets = time_light[time_light < 40] 
close_planets

## Creating pandas DataFrames

- Pandas DataFrames are two-dimensional data structures with labeled rows and columns, that can hold many data types.
- similar to a spreadsheet(excel). 
- can be created manually or by loading data from a file

#### Creating Pandas Dataframe manually
`Steps`
1. The first stepis to create the dictionary of pandas Series
2. After the dictionary is created we can then pass the dictionary to the pd.DataFrame() function

##### Create a pandas dataframe of items purchases by two peope